<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Erreur : {{ status_text }}</title>
    </head>
    <body>
        <h1>Une erreur s'est produite</h1>
        <h2>Le serveur dit "{{ status_code }} {{ status_text }}".</h2>

        <div>
            Une erreur s'est produite. La page demandée a été
            supprimée.
        </div>
    </body>
</html>
