<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Erreur : {{ status_text }}</title>
    </head>
    <body>
        <h1>Une erreur s'est produite</h1>
        <h2>Le serveur dit "{{ status_code }} {{ status_text }}".</h2>

        <div>
            Veuillez ré-essayer un peu plus tard. Si l'erreur persiste, vous
            pouvez nous le faire savoir en nous envoyant un courriel à
            webmestre@unistra.fr et en nous communiquant le texte de l'erreur et
            ce que vous étiez en train de faire lorsque l'erreur s'est produite.
            Nous sommes désolés du désagrément causé.
        </div>
    </body>
</html>
