<!DOCTYPE html>
<html lang="fr-FR"><head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>{% block title %}{% endblock %}</title>
<link media="all" href="http://www.unistra.fr/typo3temp/stylesheet_08acb5afa7.css?1371043869" type="text/css" rel="stylesheet">
<link media="all" href="http://www.unistra.fr/fileadmin/templates/unistra-v2/styles/styles-fonts.css?1374241942" type="text/css" rel="stylesheet">
<link media="all" href="http://www.unistra.fr/fileadmin/templates/unistra-v2/bootstrap/css/bootstrap.min.css?1372236779" type="text/css" rel="stylesheet">
<link media="all" href="http://www.unistra.fr/fileadmin/templates/unistra-v2/bootstrap/css/bootstrap-responsive.min.css?1372236780" type="text/css" rel="stylesheet">
<link media="all" href="http://www.unistra.fr/fileadmin/templates/unistra-v2/font-awesome/css/font-awesome.min.css?1374241073" type="text/css" rel="stylesheet">
<link media="all" href="http://www.unistra.fr/fileadmin/templates/unistra-v2/styles/styles.css?1378971028" type="text/css" rel="stylesheet">
<link media="all" href="http://www.unistra.fr/fileadmin/templates/unistra-v2/styles/styles-responsive.css?1374826585" type="text/css" rel="stylesheet">
<link media="screen" href="http://www.unistra.fr/fileadmin/templates/unistra-v2/styles/styles-hd.css?1374241942" type="text/css" rel="stylesheet">
<link media="screen" href="http://www.unistra.fr/fileadmin/templates/unistra-v2/plugins/scrollup/scrollup.css?1372412632" type="text/css" rel="stylesheet">
<link media="screen" href="http://www.unistra.fr/fileadmin/templates/unistra-v2/plugins/colorbox/colorbox.css?1374051868" type="text/css" rel="stylesheet">
<link media="print" href="http://www.unistra.fr/fileadmin/templates/unistra-v2/styles/print.css?1373548772" type="text/css" rel="stylesheet">
<link media="all" href="http://www.unistra.fr/fileadmin/templates/unistra-v2/styles/styles-formation.css?1377787756" type="text/css" rel="stylesheet">
{% block stylesheets %}{% endblock %}
</head>

<body>


<header>
  <div class="container">
    <div id="logo"> <a title="Université de Strasbourg" href="http://www.unistra.fr"><img height="100" width="222" class="hd" alt="Université de Strasbourg" src="http://www.unistra.fr/fileadmin/templates/unistra-v2/images/logo.png"></a> </div>
    <nav id="langues"><ul class="nav nav-pills"><li><a href="http://www.unistra.fr/index.php?id=accueil">FR</a></li><li><a href="/index.php?id=homepage">EN</a></li><li><a href="/index.php?id=startseite">DE</a></li></ul></nav>
    <nav class="btn-group" id="acces-direct">
      <button data-toggle="dropdown" class="btn btn-info dropdown-toggle">Accès direct <span class="caret"></span></button>
      <ul class="dropdown-menu"><li><a href="http://www.unistra.fr/index.php?id=14669"><i class="icon-chevron-right"></i><span>Offre de formation</span></a></li><li><a href="/index.php?id=15824"><i class="icon-chevron-right"></i><span>Facultés, Écoles, Instituts</span></a></li><li><a href="/index.php?id=16448"><i class="icon-chevron-right"></i><span>Unités de recherche</span></a></li><li><a href="/index.php?id=16781"><i class="icon-chevron-right"></i><span>Services</span></a></li><li><a href="/index.php?id=15826"><i class="icon-chevron-right"></i><span>Bibliothèques</span></a></li><li><a><i class="icon-chevron-right"></i><span>Média et presse</span></a></li></ul>
    </nav>
    <nav id="raccourcis">
      <div class="navbar">
        <div class="navbar-inner"><ul class="nav"><li><a href="http://www.unistra.fr/index.php?id=19768"><i class="icon-perso-actus"></i><span>Actualités</span></a></li><li><a href="/index.php?id=19772"><i class="icon-perso-agenda"></i><span>Agenda</span></a></li><li><a href="/index.php?id=15821"><i class="icon-perso-annuaire"></i><span>Annuaire</span></a></li><li><a href="/index.php?id=15822"><i class="icon-perso-ent"></i><span>E.N.T.</span></a></li><li><a href="/index.php?id=18343"><i class="icon-perso-bibliotheques"></i><span>Bibliothèques</span></a></li><li><a href="/index.php?id=15819"><i class="icon-perso-plan-campus"></i><span>Plan des campus</span></a></li></ul></div>
      </div>
    </nav>
  </div>
</header>
<nav id="menu">
  <div class="container">
    <div class="navbar navbar-inverse">
      <div class="navbar-inner"> <a data-target=".nav-menu" data-toggle="collapse" class="btn btn-navbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
        <div class="nav-collapse nav-menu collapse"><ul class="nav"><li class="first hidden-phone"><a href="http://www.unistra.fr" class="dropdown-toggle"><span>Accueil</span></a></li><li class="etudier dropdown active"><a data-toggle="dropdown" class="dropdown-toggle" href="#"><span>Formation</span></a><ul class="dropdown-menu"><li><a href="http://www.unistra.fr/index.php?id=14669"><i class="icon-chevron-right"></i><span>Nos formations</span></a></li><li><a href="/index.php?id=14804"><i class="icon-chevron-right"></i><span>Inscription et scolarité</span></a></li><li><a href="/index.php?id=17046"><i class="icon-chevron-right"></i><span>Orientation, stage, emploi</span></a></li><li><a href="/index.php?id=16865"><i class="icon-chevron-right"></i><span>Financer ses études</span></a></li><li><a href="/index.php?id=16932"><i class="icon-chevron-right"></i><span>Parcours d'étudiants</span></a></li><li><a href="/index.php?id=17084"><i class="icon-chevron-right"></i><span>Partir à l'étranger</span></a></li><li><a href="/index.php?id=sfc0"><i class="icon-chevron-right"></i><span>Formation continue</span></a></li><li><a href="/index.php?id=14741"><i class="icon-chevron-right"></i><span>Validation des acquis de l'expérience</span></a></li><li><a href="/index.php?id=15824"><i class="icon-chevron-right"></i><span>Facultés, Écoles, Instituts</span></a></li><li class="vignette">
	<!--  CONTENT ELEMENT, uid:84560/html [begin] -->
		<div class="csc-default" id="c84560">
		<!--  Raw HTML content: [begin] -->
			<a href="#"><img src="http://www.unistra.fr/unistra-v2/images/universite.jpg" alt="Formation en alternance : le guide 2013"> <span>Formation en alternance : le guide 2013</span></a>
		<!--  Raw HTML content: [end] -->
			</div>
	<!--  CONTENT ELEMENT, uid:84560/html [end] -->
		</li></ul></li><li class="recherche dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#"><span>Recherche</span></a><ul class="dropdown-menu"><li><a href="http://www.unistra.fr/index.php?id=16436"><i class="icon-chevron-right"></i><span>Unités de recherche</span></a></li><li><a href="/index.php?id=16452"><i class="icon-chevron-right"></i><span>Publications</span></a></li><li><a href="/index.php?id=16468"><i class="icon-chevron-right"></i><span>Doctorat</span></a></li><li><a href="/index.php?id=16484"><i class="icon-chevron-right"></i><span>Habilitation à diriger des recherches</span></a></li><li><a href="/index.php?id=16396"><i class="icon-chevron-right"></i><span>Services aux chercheurs</span></a></li><li><a href="/index.php?id=16500"><i class="icon-chevron-right"></i><span>Financement sur projets</span></a></li><li><a href="/index.php?id=16516"><i class="icon-chevron-right"></i><span>Recherche &amp; entreprise</span></a></li><li class="vignette">
	<!--  CONTENT ELEMENT, uid:84561/html [begin] -->
		<div class="csc-default" id="c84561">
		<!--  Raw HTML content: [begin] -->
			<a href="#"><img src="http://www.unistra.fr/unistra-v2/images/bg-content-01.jpg" alt="Recherche en Alsace : bilan d'une année riche en innovations"> <span>Recherche en Alsace : bilan d'une année riche en innovations</span></a>
		<!--  Raw HTML content: [end] -->
			</div>
	<!--  CONTENT ELEMENT, uid:84561/html [end] -->
		</li></ul></li><li class="campus dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#"><span>Vie des campus</span></a><ul class="dropdown-menu"><li><a href="http://www.unistra.fr/index.php?id=17124"><i class="icon-chevron-right"></i><span>Culture, sciences et société</span></a></li><li><a href="/index.php?id=18535"><i class="icon-chevron-right"></i><span>Sports</span></a></li><li><a href="/index.php?id=16986"><i class="icon-chevron-right"></i><span>Vie pratique</span></a></li><li><a href="/index.php?id=16881"><i class="icon-chevron-right"></i><span>Accompagnement du handicap</span></a></li><li><a href="/index.php?id=19383"><i class="icon-chevron-right"></i><span>Jobs étudiants</span></a></li><li><a href="/index.php?id=16970"><i class="icon-chevron-right"></i><span>Bibliothèques</span></a></li><li><a href="/index.php?id=17002"><i class="icon-chevron-right"></i><span>Espaces de travail</span></a></li><li class="vignette"></li></ul></li><li class="universite dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#"><span>Université</span></a><ul class="dropdown-menu"><li><a href="/index.php?id=16781"><i class="icon-chevron-right"></i><span>Fonctionnement</span></a></li><li><a href="/index.php?id=16717"><i class="icon-chevron-right"></i><span>Nous connaître</span></a></li><li><a href="/index.php?id=18852"><i class="icon-chevron-right"></i><span>Nos atouts</span></a></li><li><a href="/index.php?id=16797"><i class="icon-chevron-right"></i><span>Grands projets</span></a></li><li><a href="/index.php?id=19491"><i class="icon-chevron-right"></i><span>International</span></a></li><li><a href="/index.php?id=16813"><i class="icon-chevron-right"></i><span>Soutenir l'Université</span></a></li><li><a href="/index.php?id=16845"><i class="icon-chevron-right"></i><span>Travailler à l'Université</span></a></li><li><a href="/index.php?id=16829"><i class="icon-chevron-right"></i><span>Boutique</span></a></li><li><a href="/index.php?id=19479"><i class="icon-chevron-right"></i><span>Média et presse</span></a></li><li class="vignette"></li></ul></li></ul><form class="navbar-search pull-right"><input type="text" class="search-query" placeholder="Rechercher"></form></div>
      </div>
    </div>
  </div>
</nav>
<nav id="profils">
  <div class="container">
    <div class="navbar pull-right">
      <div class="navbar-inner"><a data-target=".nav-profils" data-toggle="collapse" class="btn btn-navbar"> <i class="icon-user"></i> </a>
        <div class="nav-collapse nav-profils collapse"> <span class="brand">Vous êtes <i class="icon-perso-puce-04"></i></span>
          <ul class="nav"><li><a href="http://www.unistra.fr/index.php?id=15695"><i class="icon-ok"></i>&nbsp;Lycéen</a></li><li><a href="/index.php?id=14657"><i class="icon-ok"></i>&nbsp;Etudiant / chercheur étrangers</a></li><li><a href="/index.php?id=14658"><i class="icon-ok"></i>&nbsp;Entreprise / partenaire</a></li><li><a href="/index.php?id=14659"><i class="icon-ok"></i>&nbsp;Alumni</a></li></ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<div id="content">
  <div class="container">
    <div id="content-header">
      <div id="breadcrumb"><ul class="breadcrumb"><li>Nos formations<span
                  class="divider">›</span></li><li>Découvrir nos formations<span
      class="divider">›</span></li><li class="active">{% block breadcrumb %}{% endblock %}</li></ul></div>
      <h1 id="page-title">{{ block('title') }}</h1>
    </div>
    <div class="row-fluid" id="main-content">
      <div class="span9">

            {% block body %}{% endblock %}

        <div class="share">
          <ul class="pull-right">
            <li><a title="Imprimer la page" href="#"><i class="icon-print"></i><span>Imprimer la page</span></a></li>
            <li><a title="Envoyer la page à un ami" href="#"><i class="icon-envelope-alt"></i><span>Envoyer la page à un ami</span></a></li>
            <li><a title="Partager sur Facebook" href="#"><i class="icon-facebook"></i><span>Partager sur Facebook</span></a></li>
            <li><a title="Partager sur Twitter" href="#"><i class="icon-twitter"></i><span>Partager sur Twitter</span></a></li>
            <li><a title="Partager sur Google +" href="#"><i class="icon-google-plus"></i><span>Partager sur Google +</span></a></li>
          </ul>
        </div>
      </div>
      <div class="span3" id="sidebar">
        {% block menu %}
            <div class="bloc menu-int"><ul><li><a href="/index.php?id=14669"><i class="icon-circle-arrow-right icon-large"></i>Découvrir nos formations</a><ul><li><a class="bloc" href="/index.php?id=18690"><i class="icon-chevron-right"></i>Moteur de recherche libre</a></li><li><a class="bloc" href="/index.php?id=18689"><i class="icon-chevron-right"></i>Moteur de recherche assistée</a></li><li><a class="bloc active" href="/index.php?id=16390"><i class="icon-chevron-right"></i>Par types de diplômes</a></li><li><a class="bloc" href="/index.php?id=16389"><i class="icon-chevron-right"></i>Par secteurs d'activité</a></li><li><a class="bloc" href="/index.php?id=15824"><i class="icon-chevron-right"></i>Par facultés, écoles, instituts</a></li></ul></li></ul></div>
        {% endblock %}
        <div class="bloc contacts">
	<!--  CONTENT ELEMENT, uid:82800/list [begin] -->
		<div class="csc-default" id="c82800">
		<!--  Plugin inserted: [begin] -->



	<!--

		BEGIN: Content of extension "lumophpinclude", plugin "tx_lumophpinclude_pi1"

	-->
	<div class="tx-lumophpinclude-pi1">

	</div>

	<!-- END: Content of extension "lumophpinclude", plugin "tx_lumophpinclude_pi1" -->


		<!--  Plugin inserted: [end] -->
			</div>
	<!--  CONTENT ELEMENT, uid:82800/list [end] -->
		</div>
        <!--TYPO3SEARCH_begin-->
	<!--  CONTENT ELEMENT, uid:87859/templavoila_pi1 [begin] -->
		<div class="csc-default" id="c87859"><div class="bloc documentation">
          <h2 class="bloc-title"><i class="icon-perso-documentation-bright"></i> Documentation</h2>
          <p><a href="http://www.unistra.fr/fileadmin/upload/unistra/documentation/Offre_formation_2013-2014_v2.pdf"><img height="127" width="90" border="0" alt="" src="http://www.unistra.fr/typo3temp/_processed_/csm_offredeformation_01_12c940bbce.jpg"></a>
          <a class="bloc" href="http://www.unistra.fr/fileadmin/upload/unistra/documentation/Offre_formation_2013-2014_v2.pdf"><i class="icon-chevron-right"></i>Offre de formation</a>
          <a class="bloc" href="http://www.unistra.fr/fileadmin/upload/unistra/documentation/Catalogue_alternance__apprentissage_contrats_pro__2013.pdf"><i class="icon-chevron-right"></i>Formations en Alternance</a>
          <a class="bloc" href="http://www.unistra.fr/fileadmin/upload/unistra/documentation/Calendrier_2013-2014.pdf"><i class="icon-chevron-right"></i>Calendrier universitaire</a></p>
        </div></div>
	<!--  CONTENT ELEMENT, uid:87859/templavoila_pi1 [end] -->
		<!--TYPO3SEARCH_end-->


	<!--  CONTENT ELEMENT, uid:84304/list [begin] -->
		<div class="csc-default" id="c84304">
		<!--  Plugin inserted: [begin] -->



	<!--

		BEGIN: Content of extension "gkh_rss_import", plugin "tx_gkhrssimport_pi1"

	-->
	<div class="tx-gkhrssimport-pi1">


<div id="slider-actu">
          <h2 class="bloc-title"><a href="#"><i class="icon-perso-actus"></i> Actualités</a></h2>

          <a style="display: block;" href="#" id="slider-actu-prev" class="slider-btn"><span>Précédent</span></a>
          <a style="display: block;" href="#" id="slider-actu-next" class="slider-btn"><span>Suivant</span></a>

          <div style="height: auto; min-height: 162px;" class="slider-wrap">

            <div style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 195px; height: 162px; margin: 0px; overflow: hidden;" class="caroufredsel_wrapper">
	    <div class="caroufredsel_wrapper" style="display: block; text-align: left; float: none; position: absolute; top: 0px; right: 0px; bottom: -1048px; left: 0px; z-index: auto; width: 195px; height: 162px; margin: 0px; overflow: hidden;"><div style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; height: 1134px; width: 195px;" class="slider mini">

<!-- ###CONTENT### begin -->



              <div style="height: 162px;" class="actu"> <a class="actu" href="http://www.unistra.fr/index.php?id=29&amp;tx_ttnews%5BbackPid%5D=1050&amp;tx_ttnews%5Btt_news%5D=7958&amp;cHash=a31823df0dff2af7a6fba70adfcbd933" title="Le guide de l’étudiant 2013 : à votre disposition">
                <div class="actu-cat">Etudes et scolarité</div>
                <h2 class="actu-title">Le guide de l’étudiant 2013 : à votre disposition</h2>
                <div class="actu-content">
                  <p>Pour bien commencer votre année, pour connaître l’ensemble de vos interlocuteurs...</p>
                </div>
                </a>
              </div>



              <div style="height: 162px;" class="actu"> <a class="actu" href="http://www.unistra.fr/index.php?id=7971" title="En septembre : l'Université fait sa rentrée">
                <div class="actu-cat">Etudes et scolarité</div>
                <h2 class="actu-title">En septembre : l'Université fait sa rentrée</h2>
                <div class="actu-content">
                  <p></p>
                </div>
                </a>
              </div>



              <div style="height: 162px;" class="actu"> <a class="actu" href="http://www.unistra.fr/index.php?id=29&amp;tx_ttnews%5BbackPid%5D=1050&amp;tx_ttnews%5Btt_news%5D=7296&amp;cHash=428b108caca1105d202fe35445f39f76" title="Nouveau : un catalogue des formations en alternance est désormais accessible">
                <div class="actu-cat">Etudes et scolarité</div>
                <h2 class="actu-title">Nouveau : un catalogue des formations en alternance est désormais accessible</h2>
                <div class="actu-content">
                  <p>L'Espace Avenir, le Service de la formation continue et la Direction des études et de la scolarit...</p>
                </div>
                </a>
              </div>



<!-- ###CONTENT###  end -->

            </div></div>
           </div>
          </div>
</div>

	</div>

	<!-- END: Content of extension "gkh_rss_import", plugin "tx_gkhrssimport_pi1" -->


		<!--  Plugin inserted: [end] -->
			</div>
	<!--  CONTENT ELEMENT, uid:84304/list [end] -->


	<!--  CONTENT ELEMENT, uid:89068/list [begin] -->
		<div class="csc-default" id="c89068">
		<!--  Plugin inserted: [begin] -->





		<!--  Plugin inserted: [end] -->
			</div>
	<!--  CONTENT ELEMENT, uid:89068/list [end] -->

      </div>
    </div>
    <div class="container" id="contact">
	<!--  CONTENT ELEMENT, uid:82802/html [begin] -->
		<div class="csc-default" id="c82802">
		<!--  Raw HTML content: [begin] -->
			      <div class="contact-inner">
        <div class="row-fluid">
          <div class="span5 logos">
            <div class="logo"><a href="http://fondation.unistra.fr" title="Fondation Unistra"><img src="http://www.unistra.fr/fileadmin/templates/unistra-v2/images/logo-fondation.png" alt="Fondation Unistra"></a></div>
            <div class="logo"><a href="http://investissement-avenir.gouvernement.fr" title="Investissements d'Avenir"><img src="http://www.unistra.fr/fileadmin/templates/unistra-v2/images/logo-ia.png" alt="Investissements d'Avenir"></a></div>
            <div class="logo"><a href="http://www.leru.org" title="LERU"><img src="http://www.unistra.fr/fileadmin/templates/unistra-v2/images/logo-leru.png" alt="LERU"></a></div>
            <div class="logo"><a href="http://www.eucor-uni.org" title="EUCOR"><img src="http://www.unistra.fr/fileadmin/templates/unistra-v2/images/logo-eucor.png" alt="Eucor"></a></div>
          </div>
          <div class="span5 lactu">
            <h3>Restons en contact</h3>
            <p>Inscrivez-vous à notre journal électronique L'Actu.</p>
            <form action="https://listes.u-strasbg.fr/sympa/unistra.fr" method="post" class="form-inline">
              <input type="text" class="input-large input-lactu" placeholder="Votre email" name="email">
              <input type="hidden" name="list" value="l-actu">
              <input type="hidden" name="action" value="subrequest">
              <input type="hidden" name="via_subrequest" value="1">
              <button name="action_subrequest" type="submit" class="btn btn-primary alt btn-lactu"><i class="icon-perso-edit"></i> S'inscrire</button>
            </form>
          </div>
    <div class="span2 social">
            <div class="social-logo"><a href="http://www.facebook.com/unistra" title="L'Unistra sur Facebook"><i class="icon-facebook-sign"></i><span>Facebook</span></a></div>
            <div class="social-logo"><a href="http://twitter.com/#!/unistra" title="L'Unistra sur Twitter"><i class="icon-twitter-sign"></i><span>Twitter</span></a></div>
            <div class="social-logo"><a href="https://plus.google.com/+unistra/" title="L'Unistra sur Google+"><i class="icon-google-plus-sign"></i><span>Google+</span></a></div>
          </div>
        </div>
      </div>

		<!--  Raw HTML content: [end] -->
			</div>
	<!--  CONTENT ELEMENT, uid:82802/html [end] -->
		</div>
  </div>
</div>
<footer>
  <div class="container">
    <div id="sceau"><a title="Université de Strasbourg" href="http://www.unistra.fr"><img alt="Sceau historique de l'Université de Strasbourg" src="http://www.unistra.fr/fileadmin/templates/unistra-v2/images/sceau.png"></a></div>
    <div class="hidden-phone" id="menu-footer"><div class="row-fluid"><div class="span2"><h3>Formation</h3><ul><li><a href="http://www.unistra.fr/index.php?id=14669">Nos formations</a></li><li><a href="/index.php?id=14804">Inscription et scolarité</a></li><li><a href="/index.php?id=17046">Orientation, stage, emploi</a></li><li><a href="/index.php?id=16865">Financer ses études</a></li><li><a href="/index.php?id=16932">Parcours d'étudiants</a></li><li><a href="/index.php?id=17084">Partir à l'étranger</a></li><li><a href="/index.php?id=sfc0">Formation continue</a></li><li><a href="/index.php?id=14741">Validation des acquis de l'expérience</a></li><li><a href="/index.php?id=15824">Facultés, Écoles, Instituts</a></li></ul></div><div class="span2"><h3>Recherche</h3><ul><li><a href="/index.php?id=16436">Unités de recherche</a></li><li><a href="/index.php?id=16452">Publications</a></li><li><a href="/index.php?id=16468">Doctorat</a></li><li><a href="/index.php?id=16484">Habilitation à diriger des recherches</a></li><li><a href="/index.php?id=16396">Services aux chercheurs</a></li><li><a href="/index.php?id=16500">Financement sur projets</a></li><li><a href="/index.php?id=16516">Recherche &amp; entreprise</a></li></ul></div><div class="span2"><h3>Vie des campus</h3><ul><li><a href="/index.php?id=17124">Culture, sciences et société</a></li><li><a href="/index.php?id=18535">Sports</a></li><li><a href="/index.php?id=16986">Vie pratique</a></li><li><a href="/index.php?id=16881">Accompagnement du handicap</a></li><li><a href="/index.php?id=19383">Jobs étudiants</a></li><li><a href="/index.php?id=16970">Bibliothèques</a></li><li><a href="/index.php?id=17002">Espaces de travail</a></li></ul></div><div class="span2"><h3>Université</h3><ul><li><a href="/index.php?id=16781">Fonctionnement</a></li><li><a href="/index.php?id=16717">Nous connaître</a></li><li><a href="/index.php?id=18852">Nos atouts</a></li><li><a href="/index.php?id=16797">Grands projets</a></li><li><a href="/index.php?id=19491">International</a></li><li><a href="/index.php?id=16813">Soutenir l'Université</a></li><li><a href="/index.php?id=16845">Travailler à l'Université</a></li><li><a href="/index.php?id=16829">Boutique</a></li><li><a href="/index.php?id=19479">Média et presse</a></li></ul></div><div class="span2"><h3>Ressources</h3><ul><li><a href="/index.php?id=19768">Actualités</a></li><li><a href="/index.php?id=19772">Agenda</a></li><li><a href="/index.php?id=15821">Annuaire</a></li><li><a href="/index.php?id=15822">E.N.T.</a></li><li><a href="/index.php?id=18343">Bibliothèques</a></li><li><a href="/index.php?id=15819">Plan des campus</a></li></ul></div><div class="span2"><h3>Accès directs</h3><ul><li><a href="/index.php?id=14669">Offre de formation</a></li><li><a href="/index.php?id=15824">Facultés, Écoles, Instituts</a></li><li><a href="/index.php?id=16448">Unités de recherche</a></li><li><a href="/index.php?id=16781">Services</a></li><li><a href="/index.php?id=15826">Bibliothèques</a></li><li><a>Média et presse</a></li></ul></div></div></div>
    <div id="mentions">
      <div class="row-fluid"><div class="span3"><form class="form-search"><input type="text" class="search-query" placeholder="Rechercher"></form></div> <div class="span9 mentions">Université de Strasbourg &ndash; Tous droits réservés 2009-2013&nbsp;-&nbsp;<a href="http://www.unistra.fr/index.php?id=15829">Contacts</a>&nbsp;-&nbsp;<a href="/index.php?id=15833">Crédits et mentions légales</a></div></div>
    </div>
  </div>
</footer>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script> <script src="http://www.unistra.fr/fileadmin/templates/unistra-v2/bootstrap/js/bootstrap.min.js"></script> <script src="http://www.unistra.fr/fileadmin/templates/unistra-v2/plugins/carouFredSel/jquery.carouFredSel-6.2.1-packed.js"></script> <script src="http://www.unistra.fr/fileadmin/templates/unistra-v2/plugins/anchor-scroll/jquery.anchor.js"></script> <script src="http://www.unistra.fr/fileadmin/templates/unistra-v2/plugins/scrollup/scrollup.js"></script> <!-- Bootstrap --> <script src="http://www.unistra.fr/fileadmin/templates/unistra-v2/plugins/colorbox/jquery.colorbox-min.js"></script> <script src="http://www.unistra.fr/fileadmin/templates/unistra-v2/js/effects.js"></script>
{% block javascripts %}{% endblock %}




</body></html>

