<!DOCTYPE html><html lang="fr-FR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Université de Strasbourg : {% block title %}l'offre de formation{% endblock %}</title>
<meta name="keywords" content="autre, fichier, vers, Lien, Test, toto, Documentation">
<meta name="description" content="Documentation Test toto Lien vers un autre fichier ... …">
<link rel="stylesheet" type="text/css" href="/typo3temp/stylesheet_4995b424a3.css?1374567599" media="all">
<link rel="stylesheet" type="text/css" href="/fileadmin/templates/unistra-v2/styles/styles-fonts.css?1374241942" media="all">
<link rel="stylesheet" type="text/css" href="/fileadmin/templates/unistra-v2/bootstrap/css/bootstrap.min.css?1372236779" media="all">
<link rel="stylesheet" type="text/css" href="/fileadmin/templates/unistra-v2/bootstrap/css/bootstrap-responsive.min.css?1372236780" media="all">
<link rel="stylesheet" type="text/css" href="/fileadmin/templates/unistra-v2/font-awesome/css/font-awesome.min.css?1374241073" media="all">
<link rel="stylesheet" type="text/css" href="/fileadmin/templates/unistra-v2/styles/styles.css?1374590094" media="all">
<link rel="stylesheet" type="text/css" href="/fileadmin/templates/unistra-v2/styles/styles-responsive.css?1374592110" media="all">
<link rel="stylesheet" type="text/css" href="/fileadmin/templates/unistra-v2/styles/styles-hd.css?1374241942" media="screen">
<link rel="stylesheet" type="text/css" href="/fileadmin/templates/unistra-v2/plugins/scrollup/scrollup.css?1372412632" media="screen">
<link rel="stylesheet" type="text/css" href="/fileadmin/templates/unistra-v2/plugins/colorbox/colorbox.css?1374051868" media="screen">
<link rel="stylesheet" type="text/css" href="/fileadmin/templates/unistra-v2/styles/print.css?1373548772" media="print">
<meta name="robots" content="noindex, nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<header><div class="container">
    <div id="logo"> <a href="http://www.unistra.fr" title="Université de Strasbourg"><img src="/fileadmin/templates/unistra-v2/images/logo.png" alt="Université de Strasbourg" class="hd" width="222" height="100"></a> </div>
    <nav id="langues"><ul class="nav nav-pills">
<li><a href="/index.php?id=accueil">FR</a></li>
<li><a href="/index.php?id=homepage">EN</a></li>
<li><a href="/index.php?id=startseite">DE</a></li>
</ul></nav><nav id="acces-direct" class="btn-group"><button class="btn btn-info dropdown-toggle" data-toggle="dropdown">Accès direct <span class="caret"></span></button>
      <ul class="dropdown-menu">
<li><a><i class="icon-chevron-right"></i><span>Offre de formation</span></a></li>
<li><a href="/index.php?id=15824"><i class="icon-chevron-right"></i><span>Facultés, Écoles, Instituts</span></a></li>
<li><a><i class="icon-chevron-right"></i><span>Unités de recherche</span></a></li>
<li><a href="/index.php?id=15826"><i class="icon-chevron-right"></i><span>Bibliothèques</span></a></li>
<li><a><i class="icon-chevron-right"></i><span>Média et presse</span></a></li>
</ul></nav><nav id="raccourcis"><div class="navbar">
        <div class="navbar-inner"><ul class="nav">
<li><a><i class="icon-perso-actus"></i><span>Actualités</span></a></li>
<li><a><i class="icon-perso-agenda"></i><span>Agenda</span></a></li>
<li><a href="/index.php?id=15821"><i class="icon-perso-annuaire"></i><span>Annuaire</span></a></li>
<li><a href="/index.php?id=15822"><i class="icon-perso-ent"></i><span>E.N.T.</span></a></li>
<li><a href="/index.php?id=18343"><i class="icon-perso-bibliotheques"></i><span>Bibliothèques</span></a></li>
<li><a href="/index.php?id=15819"><i class="icon-perso-plan-campus"></i><span>Plan des campus</span></a></li>
</ul></div>
      </div>
    </nav>
</div>
</header><nav id="menu"><div class="container">
    <div class="navbar navbar-inverse">
      <div class="navbar-inner"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-menu"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
        <div class="nav-collapse nav-menu collapse">
<ul class="nav">
<li class="first hidden-phone"><a class="dropdown-toggle" href="http://www.unistra.fr"><span>Accueil</span></a></li>
<li class="etudier dropdown active">
<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Formation</span></a><ul class="dropdown-menu">
<li><a href="/index.php?id=14669"><i class="icon-chevron-right"></i><span>Nos formations</span></a></li>
<li><a href="/index.php?id=14804"><i class="icon-chevron-right"></i><span>Inscription et scolarité</span></a></li>
<li><a href="/index.php?id=17046"><i class="icon-chevron-right"></i><span>Orientation, stages, emplois</span></a></li>
<li><a href="/index.php?id=16865"><i class="icon-chevron-right"></i><span>Financer ses études</span></a></li>
<li><a href="/index.php?id=16932"><i class="icon-chevron-right"></i><span>Parcours d'étudiants</span></a></li>
<li><a href="/index.php?id=17084"><i class="icon-chevron-right"></i><span>Partir à l'étranger</span></a></li>
<li><a href="/index.php?id=sfc0"><i class="icon-chevron-right"></i><span>Formation continue</span></a></li>
<li><a href="/index.php?id=14741"><i class="icon-chevron-right"></i><span>Validation des acquis de l'expérience</span></a></li>
<li><a href="/index.php?id=18376"><i class="icon-chevron-right"></i><span>Nouvelles pratiques éditoriales</span></a></li>
</ul>
</li>
<li class="recherche dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Recherche</span></a><ul class="dropdown-menu">
<li><a href="/index.php?id=16436"><i class="icon-chevron-right"></i><span>Unités de recherche</span></a></li>
<li><a href="/index.php?id=16452"><i class="icon-chevron-right"></i><span>Publications</span></a></li>
<li><a href="/index.php?id=16484"><i class="icon-chevron-right"></i><span>Habilitation à diriger des recherches</span></a></li>
<li><a href="/index.php?id=16468"><i class="icon-chevron-right"></i><span>Doctorat</span></a></li>
<li><a href="/index.php?id=16396"><i class="icon-chevron-right"></i><span>Services aux chercheurs</span></a></li>
<li><a href="/index.php?id=16500"><i class="icon-chevron-right"></i><span>Appels à projets</span></a></li>
<li><a href="/index.php?id=16516"><i class="icon-chevron-right"></i><span>Recherche &amp; entreprise</span></a></li>
</ul>
</li>
<li class="campus dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Vie des campus</span></a><ul class="dropdown-menu">
<li><a href="/index.php?id=17124"><i class="icon-chevron-right"></i><span>Culture, sciences et société</span></a></li>
<li><a href="/index.php?id=18535"><i class="icon-chevron-right"></i><span>Sports</span></a></li>
<li><a href="/index.php?id=16986"><i class="icon-chevron-right"></i><span>Vie pratique</span></a></li>
<li><a href="/index.php?id=16881"><i class="icon-chevron-right"></i><span>Accompagnement du handicap</span></a></li>
<li><a href="/index.php?id=18669"><i class="icon-chevron-right"></i><span>Jobs étudiants</span></a></li>
<li><a href="/index.php?id=17002"><i class="icon-chevron-right"></i><span>Espaces de travail</span></a></li>
<li><a href="/index.php?id=16970"><i class="icon-chevron-right"></i><span>Bibliothèques</span></a></li>
</ul>
</li>
<li class="universite dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Université</span></a><ul class="dropdown-menu">
<li><a href="/index.php?id=16781"><i class="icon-chevron-right"></i><span>Fonctionnement</span></a></li>
<li><a href="/index.php?id=16717"><i class="icon-chevron-right"></i><span>Nous connaître</span></a></li>
<li><a href="/index.php?id=16797"><i class="icon-chevron-right"></i><span>Grands projets</span></a></li>
<li><a href="/index.php?id=16813"><i class="icon-chevron-right"></i><span>Soutenir l'Université</span></a></li>
<li><a href="/index.php?id=16845"><i class="icon-chevron-right"></i><span>Travailler à l'Université</span></a></li>
<li><a href="/index.php?id=16829"><i class="icon-chevron-right"></i><span>Boutique</span></a></li>
</ul>
</li>
</ul>
<form class="navbar-search pull-right"><input type="text" placeholder="Rechercher" class="search-query"></form>
</div>
      </div>
    </div>
  </div>
</nav><nav id="profils"><div class="container">
    <div class="navbar pull-right">
      <div class="navbar-inner">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-profils"> <i class="icon-user"></i> </a>
        <div class="nav-collapse nav-profils collapse"> <span class="brand">Vous êtes <i class="icon-perso-puce-04"></i></span>
          <ul class="nav">
<li><a href="/index.php?id=15695"><i class="icon-ok"></i> Lycéens</a></li>
<li><a href="/index.php?id=14657"><i class="icon-ok"></i> Etudiant / chercheur étrangers</a></li>
<li><a href="/index.php?id=14658"><i class="icon-ok"></i> Entreprise / partenaire</a></li>
<li><a href="/index.php?id=14659"><i class="icon-ok"></i> Alumni</a></li>
</ul>
</div>
      </div>
    </div>
  </div>
</nav><div id="content">
  <div class="container">{% block body %}{% endblock %}</div>
</div>
<footer><div class="container">
    <div id="sceau"><a href="http://www.unistra.fr" title="Université de Strasbourg"><img src="/fileadmin/templates/unistra-v2/images/sceau.png" alt="Sceau historique de l'Université de Strasbourg"></a></div>
    <div id="menu-footer" class="hidden-phone"><div class="row-fluid">
<div class="span2">
<h3>Etudes et insertion</h3>
<ul>
<li><a href="/index.php?id=14669">Nos formations</a></li>
<li><a href="/index.php?id=14804">Inscription et scolarité</a></li>
<li><a href="/index.php?id=17046">Orientation, stages, emplois</a></li>
<li><a href="/index.php?id=16865">Financer ses études</a></li>
<li><a href="/index.php?id=16932">Parcours d'étudiants</a></li>
<li><a href="/index.php?id=17084">Partir à l'étranger</a></li>
<li><a href="/index.php?id=sfc0">Formation continue</a></li>
<li><a href="/index.php?id=14741">Validation des acquis de l'expérience</a></li>
<li><a href="/index.php?id=18376">Nouvelles pratiques éditoriales</a></li>
</ul>
</div>
<div class="span2">
<h3>Vie des campus</h3>
<ul>
<li><a href="/index.php?id=17124">Culture, sciences et société</a></li>
<li><a href="/index.php?id=18535">Sports</a></li>
<li><a href="/index.php?id=16986">Vie pratique</a></li>
<li><a href="/index.php?id=16881">Accompagnement du handicap</a></li>
<li><a href="/index.php?id=18669">Jobs étudiants</a></li>
<li><a href="/index.php?id=17002">Espaces de travail</a></li>
<li><a href="/index.php?id=16970">Bibliothèques</a></li>
</ul>
</div>
<div class="span2">
<h3>Recherche</h3>
<ul>
<li><a href="/index.php?id=16436">Unités de recherche</a></li>
<li><a href="/index.php?id=16452">Publications</a></li>
<li><a href="/index.php?id=16484">Habilitation à diriger des recherches</a></li>
<li><a href="/index.php?id=16468">Doctorat</a></li>
<li><a href="/index.php?id=16396">Services aux chercheurs</a></li>
<li><a href="/index.php?id=16500">Appels à projets</a></li>
<li><a href="/index.php?id=16516">Recherche &amp; entreprise</a></li>
</ul>
</div>
<div class="span2">
<h3>L'Université</h3>
<ul>
<li><a href="/index.php?id=16781">Fonctionnement</a></li>
<li><a href="/index.php?id=16717">Nous connaître</a></li>
<li><a href="/index.php?id=16797">Grands projets</a></li>
<li><a href="/index.php?id=16813">Soutenir l'Université</a></li>
<li><a href="/index.php?id=16845">Travailler à l'Université</a></li>
<li><a href="/index.php?id=16829">Boutique</a></li>
</ul>
</div>
<div class="span2">
<h3>Outils pratiques</h3>
<ul>
<li><a>Actualités</a></li>
<li><a>Agenda</a></li>
<li><a href="/index.php?id=15821">Annuaire</a></li>
<li><a href="/index.php?id=15822">E.N.T.</a></li>
<li><a href="/index.php?id=18343">Bibliothèques</a></li>
<li><a href="/index.php?id=15819">Plan des campus</a></li>
</ul>
</div>
<div class="span2">
<h3>Accès directs</h3>
<ul>
<li><a>Offre de formation</a></li>
<li><a href="/index.php?id=15824">Facultés, Écoles, Instituts</a></li>
<li><a>Unités de recherche</a></li>
<li><a href="/index.php?id=15826">Bibliothèques</a></li>
<li><a>Média et presse</a></li>
</ul>
</div>
</div></div>
    <div id="mentions">
      <div class="row-fluid">
        <div class="span3">
          <form class="form-search">
            <input type="text" class="search-query" placeholder="Rechercher">
</form>
        </div>
        <div class="span9 mentions">Université de Strasbourg – Tous droits réservés 2009-2013 - <a href="/index.php?id=15829">Contacts</a> - <a href="/index.php?id=15833">Crédits et mentions légales</a>
</div>
      </div>
    </div>
  </div>
</footer><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script><script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script><script src="http://www.unistra.fr/fileadmin/templates/unistra-v2/bootstrap/js/bootstrap.min.js"></script><script src="http://www.unistra.fr/fileadmin/templates/unistra-v2/plugins/carouFredSel/jquery.carouFredSel-6.2.1-packed.js"></script><script src="http://www.unistra.fr/fileadmin/templates/unistra-v2/plugins/anchor-scroll/jquery.anchor.js"></script><script src="http://www.unistra.fr/fileadmin/templates/unistra-v2/plugins/scrollup/scrollup.js"></script><script src="http://www.unistra.fr/fileadmin/templates/unistra-v2/plugins/colorbox/jquery.colorbox-min.js"></script><script src="http://www.unistra.fr/fileadmin/templates/unistra-v2/js/effects.js"></script>{% block javascripts %}{% endblock %}</body>
</html>
