parameters:
    existdb.wsdl:       "http://ofxml.u-strasbg.fr/exist/services/Query?wsdl"
    existdb.username:   username
    existdb.password:   password

    unistra_profetes.xsl.fiche:             fiche.xsl
    unistra_profetes.xquery.composante:     composantes.xquery

