parameters:
    unistra.profetes.wsdl: 'http://ofxml.u-strasbg.fr/exist/services/Query?wsdl'
    unistra.profetes.username: username
    unistra.profetes.password: password
    unistra.profetes.collection: /db/CDM-2009
    unistra.profetes.cache.program.ttl: 86400
    unistra.profetes.cache.query.ttl: 259200
