{% extends '::base.html.twig' %}

{% block title %}Liste des composantes{% endblock %}

{% block body %}
        <div id="content-header">
            <div id="breadcrumb">
                <ul class="breadcrumb">
                    <li><a href="#">Études et insertion</a> <span class="divider"> › </span></li>
                    <li><a href="#">Nos formations</a> <span class="divider"> › </span></li>
                    <li><a href="#">Diplômes</a> <span class="divider"> › </span></li>
                    <li class="active">Liste des composantes</li>
                </ul>
            </div>
            <h1 id="page-title">Liste des composantes</h1>
        </div>

        <div id="main-content" class="row-fluid">
<ul><li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-lvi">Langues
    vivantes</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-dir">Direction
    de la recherche</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-eot">EOST</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-let">Lettres</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-drt">Droit</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-pha">Pharma</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-epe">Espe</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-lga">SHA</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-pli">Philo</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-ems">EMS</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-iha">IUT
        Haguenau</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-seg">Sc éco
    &amp; gestion</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-mai">Mathinfo</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-iep">IEP</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-his">Histoire</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-med">Médecine</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-art">Art</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-ill">IUT
        Schuman</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-chm">Chimie</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-soc">Sciences
    sociales</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-aps">Sport</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-thc">Théo
        cath</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-det">Dép.
        études territoriales</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-psy">Psycho</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-cpi">CEIPI</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-cuj">Cuej</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-tri">Itiri</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-pag">Ipag</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-vie">Sc Vie</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-des">DES</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-phi">Physique
    et ingéniérie</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-mui">CFMI</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-esb">ESBS</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-isc">IUT LPS</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-odo">Dentaire</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-ecp">ECPM</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-esp">Telecom
    physique</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-geo">Géo</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-thp">Théo P</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-obs">Observatoire</a></li>
    <li><a
        href="/app_dev.php/formations/composante/fr-rne-0673021v-or-edu">Edu</a></li></ul>
        </div>
{% endblock %}

