{% extends '::base.html.twig' %}

{% block title %}Formations par secteur d'activité{% endblock %}
{% block breadcrumb %}Par secteur secteur d'activité{% endblock %}

{% block body %}
    <div id="content-mapping">
        <div class="csc-default">
            <h2>{{ secteurActivite }}</h2>
            {{ formations | xslt_transform(xsl, { 'path': path }) | raw }}
        </div>
    </div>
{% endblock %}
