{% extends '::base.html.twig' %}

{% block title %}Formations par type de diplôme{% endblock %}
{% block breadcrumb %}Par type de diplôme{% endblock %}

{% block body %}
    <div id="content-mapping">
        <div class="csc-default">
            <h2>{{ typeDeDiplome }}</h2>
            {{ formations | xslt_transform(xsl, { 'path': path }) | raw }}
        </div>
    </div>
{% endblock %}
